<!doctype html>
<html lang="en">
<head th:replace="~{common/header::header('采购特产管理页面')}"></head>
<style>
	.list-group-item,.carousel-item{
		text-align:center;
	}
</style>
<body>
<div class="container-fluid">
    <div class="row" th:replace="~{/common/nav::nav('purchase')}"></div>
    <div class="row">
        <div class="col-lg-2" style="padding-right:0px;">
            <div class="card bg-light mb-3" style="height:650px;">
                <div class="card-header">
                    采购管理
                </div>
                <div class="list-group" >
                    <div><a class="list-group-item" href="/purOrder/list">采购订单管理</a></div>
                    <div><a class="list-group-item active" href="/buyProduct/list">采购特产管理</a></div>
                    <div><a class="list-group-item" href="/purOrderReturn/list">采购订单退货管理</a></div>
                </div>
            </div>
        </div>
        <div class="col-lg-10" style="padding-left:0px;">
            <div class="card bg-light mb-3">

                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-4">当前位置:采购管理>采购特产管理</div>
                        <div class="col-lg-2">
                            <a class="btn btn-success btn-xs" style="padding:0px;" href="/buyProduct/list">刷新页面</a>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-primary btn-xs" style="padding:0px;" data-toggle="modal" data-target="#addModal" id="selectGet">新建采购特产</button>
                        </div>
                    </div>
                </div>

                <div class="card-body" style="background-color: white;height:600px;">
                    <form class="form-inline" method="get" action="/buyProduct/queryFirst">
                        <div class="input-group-prepend">
                            <span class="input-group-text">特产名称:</span>
                        </div>
                        <select class="selectpicker show-tick form-control" data-size="10" data-live-search="true" name="buyProId" id="proName">
                        </select>

                        <div class="col-lg-1"></div>

                        <div class="input-group-prepend">
                            <span class="input-group-text">所属采购订单:</span>
                        </div>
                        <select class="selectpicker show-tick form-control" data-size="10" data-live-search="true" name="buyOrderId" id="orderNumber">
                        </select>

                        <div class="col-lg-1"></div>

                        <div class="input-group-prepend">
                            <span class="input-group-text">供应商:</span>
                        </div>
                        <select class="selectpicker show-tick form-control" data-size="10" data-live-search="true" name="buySupId" id="supName">
                        </select>
                        <div class="col-lg-1"></div>
                        <button type="submit" class="btn btn-primary">查询</button>
                    </form>
                    <div class="row" style="padding:5px;"></div>
                    <form class="form-inline" method="get" action="/buyProduct/querySecond">
                        <div class="input-group-prepend">
                            <span class="input-group-text">采购数量区间:</span>
                        </div>
                        <input class="form-control" type="text" name="startQuantity" style="width:140px;">-
                        <input class="form-control" type="text" name="endQuantity" style="width:140px;">
                        <div style="width:50px;"></div>

                        <div class="input-group-prepend">
                            <span class="input-group-text">采购价格区间:</span>
                        </div>
                        <input class="form-control" type="text" name="startPrice" style="width:140px;">--
                        <input class="form-control" type="text" name="endPrice" style="width:140px;">
                        <div style="width:50px;"></div>
                        <button type="submit" class="btn btn-primary">查询</button>
                    </form>

                    <div class="row" style="padding:5px;"></div>

                    <table class="table" style="border: 1px solid #cccfc9;">
                        <thead>
                        <tr class="table-secondary">
                            <th scope="col">采购特产id</th>
                            <th scope="col">特产名称</th>
                            <th scope="col">所属采购订单</th>
                            <th scope="col">供应商</th>
                            <th scope="col">采购数量</th>
                            <th scope="col">采购价格</th>
                            <th scope="col">关联性</th>
                            <th scope="col">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data:${datas.content}" th:object="${data}" onMouseOver="style.backgroundColor='#ffff99'" onMouseOut="style.backgroundColor='#FFFFFF'">
                            <td th:text="*{buyId}"></td>
                            <td th:text="*{proName}"></td>
                            <td th:text="*{orderNumber}"></td>
                            <td th:text="*{supName}"></td>
                            <td th:text="*{quantity}+*{proUnit}"></td>
                            <td th:text="|￥|+*{price}"></td>
                            <td th:text="*{relation}"></td>
                            <td>
                                <button class="btn btn-primary btn-xs" style="padding:0px;" data-toggle="modal" data-target="#modModal" th:onclick="getMsg([[${data.buyId}]])">修改</button>
                                <button class="btn btn-danger btn-xs" style="padding:0px;" th:onclick="delBuyProduct([[${data.buyId}]])">删除</button>
                                <button class="btn btn-success btn-xs" style="padding:0px;" data-toggle="modal" data-target="#showModal" th:onclick="showMore([[${data.buyId}]])">采购详情</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--导入分页模块-->
                    <nav class="col-lg-1" th:replace="~{common/page}"></nav>
                    <!--导入新建采购特产模态框模块-->
                    <div class="modal fade" th:replace="~{modal/purchase/buyProduct/addBuyProduct}"></div>
                    <!--导入修改采购特产模态框模块-->
                    <div class="modal fade" th:replace="~{modal/purchase/buyProduct/modBuyProduct}"></div>
                    <!--导入展示采购特产模态框模块-->
                    <div class="modal fade bs-example-modal-lg" th:replace="~{modal/purchase/buyProduct/showBuyProduct}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:replace="~{common/footer}"></div>
</div>
<script>
    <!--点击"删除"按钮，执行删除数据操作-->
    function delBuyProduct(buyId){
        if(window.confirm('同时将删除该采购特产关联的数据，确定删除该采购特产？')){
            $.ajax({
                type:"post",
                url:"/buyProduct/delBuyProduct",
                data:{"buyId":buyId},
                success:function(data){
                    alert(data.msg);
                    window.location.reload();
                },
                error:function(){
                    alert("删除失败");
                }
            });
        }
    }
    <!--为页面所有下拉列表动态加载数据-->
    $(document).ready(function(){
         $("#proName").selectpicker({
            noneSelectedText : '-请选择-'
         });
         $("#orderNumber").selectpicker({
            noneSelectedText : '-请选择-'
         });
         $("#supName").selectpicker({
            noneSelectedText : '-请选择-'
         });
         $(window).on('load', function() {
            $('#proName').selectpicker('val', '');
            $('#proName').selectpicker('refresh');
            $('#orderNumber').selectpicker('val', '');
            $('#orderNumber').selectpicker('refresh');
            $('#supName').selectpicker('val', '');
            $('#supName').selectpicker('refresh');
         });

         $.ajax({
             type:'get',
             url: "/buyProduct/getAllBuyProduct",
             dataType:'json',
             success:function(result){
                 for(var i=0;i<result.length;i++){
                     $("#proName").append($("<option value=\"" + result[i].proId + "\">" + result[i].proName + "</option>"));
                 }
                 $('#proName').selectpicker('val','');
                 $('#proName').selectpicker('refresh');
             }
        });

         $.ajax({
             type:'get',
             url: "/purOrder/getAllPurOrder",
             dataType:'json',
             success:function(result){
                 for(var i=0;i<result.length;i++){
                     $("#orderNumber").append($("<option value=\"" + result[i].orderId + "\">" + result[i].orderNumber + "</option>"));
                 }
                 $('#orderNumber').selectpicker('val','');
                 $('#orderNumber').selectpicker('refresh');
             }
        });

        $.ajax({
             type:'get',
             url: "/supplier/getAllSupplier",
             dataType:'json',
             success:function(result){
                 for(var i=0;i<result.length;i++){
                     $("#supName").append($("<option value=\"" + result[i].supId + "\">" + result[i].supName + "</option>"));
                 }
                 $('#supName').selectpicker('val','');
                 $('#supName').selectpicker('refresh');
             }
        });
    });
</script>
</body>
</html>
