<!doctype html>
<html lang="en">
<head th:replace="~{common/header::header('管理销售员信息页面')}"></head>
<style>
	.list-group-item,.carousel-item{
		text-align:center;
	}
</style>
<body>
<div class="container-fluid">
    <div class="row" th:replace="~{/common/nav::nav('staff')}"></div>
    <div class="row">
        <div class="col-lg-2" style="padding-right:0px;">
            <div class="card bg-light mb-3" style="height:650px;">
                <div class="card-header">员工管理</div>
                <div class="list-group" >
                    <div><a class="list-group-item" href="/purchaser/list">采购员信息管理</a></div>
                    <div><a class="list-group-item" href="/storeMan/list">仓库管理员管理</a></div>
                    <div><a class="list-group-item active" href="/salesperson/list">销售员信息管理</a></div>
                </div>
            </div>
        </div>
        <div class="col-lg-10" style="padding-left:0px;">
            <div class="card bg-light mb-3">
                <div class="card-header">当前位置:员工管理>销售员信息管理</div>
                <div class="card-body" style="background-color: white;height:600px;">

                    <form class="form-inline" method="get" action="/salesperson/find">
                        <a class="btn btn-success btn-xs" style="padding:0px;" href="/salesperson/list">刷新页面</a>
                        <div class="col-lg-1"></div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSpModal">
                            新增
                        </button>
                        <div class="col-lg-1"></div>
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">销售员姓名:</span>
                            </div>
                            <input type="text" class="form-control" name="spName" placeholder="模糊查询">
                            &nbsp;&nbsp;&nbsp;
                            <div class="input-group-prepend">
                                <span class="input-group-text">销售员性别:</span>
                            </div>
                            <select class="form-control" name="spSex">
                                <option>-请选择-</option>
                                <option>男</option>
                                <option>女</option>
                            </select>
                        </div>
                        &nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-primary">查询</button>
                    </form>

                    <div class="row" style="padding:10px;color:red;"></div>

                    <table class="table" style="border: 1px solid #cccfc9;">
                        <thead>
                        <tr class="table-secondary">
                            <th scope="col">销售员id</th>
                            <th scope="col">销售员姓名</th>
                            <th scope="col">销售员性别</th>
                            <th scope="col">销售员年龄</th>
                            <th scope="col">销售员电话</th>
                            <th scope="col">关联性</th>
                            <th scope="col">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data:${datas.content}" th:object="${data}" onMouseOver="style.backgroundColor='#ffff99'" onMouseOut="style.backgroundColor='#FFFFFF'">
                            <td th:text="*{spId}"></td>
                            <td th:text="*{spName}"></td>
                            <td th:text="*{spSex}"></td>
                            <td th:text="*{spAge}+|岁|"></td>
                            <td th:text="*{spPhone}"></td>
                            <td th:text="*{relation}"></td>
                            <td>
                                <button class="btn btn-success btn-xs" style="padding:0px;" data-toggle="modal" data-target="#showSpModal" th:onclick="showMore([[${data.spId}]])">详情</button>
                                <button class="btn btn-primary btn-xs" style="padding:0px;" data-toggle="modal" data-target="#modSpModal" th:onclick="getMsg([[${data.spId}]])">修改</button>
                                <button class="btn btn-danger btn-xs" style="padding:0px;" th:onclick="delSalesperson([[${data.spId}]])">删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--导入分页模块-->
                    <nav class="col-lg-1" th:replace="~{common/page}"></nav>
                    <!--导入新增销售员模态框模块-->
                    <div class="modal fade" th:replace="~{modal/staff/salesperson/addSalesperson}"></div>
                    <!--导入展示销售员详情模态框模块-->
                    <div class="modal fade" th:replace="~{modal/staff/salesperson/showSalesperson}"></div>
                    <!--导入修改销售员信息模态框模块-->
                    <div class="modal fade" th:replace="~{modal/staff/salesperson/modSalesperson}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:replace="~{common/footer}"></div>
</div>
<script>
    <!--删除销售员信息-->
    function delSalesperson(id){
        if(window.confirm('确定删除该销售员信息吗?')){
            $.ajax({
                url:"/salesperson/delSpMsg",
                type:"post",
                data:{
                    "spId":id,
                },
                dataType:"json",
                success:function(data){
                    alert(data.msg);
                    window.location.reload();
                },
                error:function() {
                　　alert("删除失败");
                }
            });
        }
    }
</script>
</body>
</html>
