<!-- 模态框:展示采购员详情-->
<div class="modal fade" id="purchaserModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">该采购员详情</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- 模态框主体 -->
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">采购员姓名</span>
                    </div>
                    <input type="text" class="form-control" id="purName4">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">采购员性别</span>
                    </div>
                    <input type="text" class="form-control" id="purSex4">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">采购员年龄</span>
                    </div>
                    <input type="text" class="form-control" id="purAge4">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">采购员电话</span>
                    </div>
                    <input type="text" class="form-control" id="purPhone4">
                </div>


                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">采购员地址</span>
                    </div>
                    <textarea rows="2" class="form-control" id="purAddress4"></textarea>
                </div>
            </div>
            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#showPurchaser").click(function(){
        var purId=$(this).val();
        $.ajax({
            type:"get",
            url:"/purchaser/getPurMsg",
            data:{"purId":purId},
            success:function(data) {
                $("#purName4").val(data.purName);
                $("#purSex4").val(data.purSex);
                $("#purAge4").val(data.purAge);
                $("#purPhone4").val(data.purPhone);
                $("#purAddress4").val(data.purAddress);
            }
        });
    });
</script>